.custom-shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.416), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.active-link {
  color: #5b6dd4 !important;
  font-weight: bold;
}

.nav-link,
.dropdown-item,
#basic-nav-dropdown {
  position: relative;
  color: #333 !important;
  transition: color 0.3s ease;
}

.nav-link::after,
.dropdown-item::after,
#basic-nav-dropdown::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: #4a85ff;
  transition: all 0.3s ease;
}

.nav-link:hover,
.nav-link.active,
.dropdown-item:hover,
.dropdown-item.active
 {
  color: #4a85ff !important;
}

.nav-link:hover::after,
.nav-link.active::after,
.dropdown-item:hover::after,
.dropdown-item.active::after
 {
  width: 100%;
  left: 0;
}



#basic-nav-dropdown {
  position: relative;
  color: #333;
  transition: color 0.3s ease;
}

#basic-nav-dropdown::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: #ffffff;
  transition: all 0.3s ease;
}

#basic-nav-dropdown:hover,
#basic-nav-dropdown.show {
  color: #ffffff;
}

#basic-nav-dropdown:hover::after,
#basic-nav-dropdown.show::after {
  width: 100%;
  left: 0;
}
