/* Footer.css */
.admin-footer {
  background-color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 200px;
  border-top: 1px solid #dee2e6;
}

@media (max-width: 768px) {
  .admin-footer {
    left: 0;
  }
}
